fastapi[standard]
python-dotenv
langgraph
langchain
langchain_community
langchain-groq
langchain-google-genai
langchain-huggingface
huggingface-hub
langchain-core
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
uvicorn
pyyaml
langgraph-checkpoint-sqlite
logfire[fastapi]
